blobdatamovement/pipeline/CopyBlobToSQL.json
{
	"name": "CopyBlobToSQL",
	"properties": {
		"activities": [
			{
				"name": "Rundatelookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from SalesLt.run_date_tbl where countrycode='@{pipeline().parameters.countrycode}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "RunDateSQLDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "WaitForMin",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Rundatelookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "CopySQLData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "WaitForMin",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from SalesLt.Address where StateProvince='@{activity('Rundatelookup').output.firstRow.countryname}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AddressID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"type": "Int32",
									"physicalType": "Int32",
									"ordinal": 1
								}
							},
							{
								"source": {
									"name": "AddressLine1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 2
								}
							},
							{
								"source": {
									"name": "AddressLine2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 3
								}
							},
							{
								"source": {
									"name": "City",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 4
								}
							},
							{
								"source": {
									"name": "StateProvince",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 5
								}
							},
							{
								"source": {
									"name": "CountryRegion",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 6
								}
							},
							{
								"source": {
									"name": "PostalCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"type": "String",
									"physicalType": "String",
									"ordinal": 7
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"type": "Guid",
									"physicalType": "Guid",
									"ordinal": 8
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"type": "DateTime",
									"physicalType": "DateTime",
									"ordinal": 9
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "RunDateSQLDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureCSVDataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"countrycode": {
				"type": "string"
			}
		},
		"annotations": []
	}
}