blobdatamovement/pipeline/MoveFilesBetweenBlob.json
{
	"name": "MoveFilesBetweenBlob",
	"properties": {
		"activities": [
			{
				"name": "SetFilename",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "srcfilename",
					"value": "nyc_data"
				}
			},
			{
				"name": "SetContainerName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "srcfilecontainer",
					"value": "nycip"
				}
			},
			{
				"name": "NycDataCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetFilename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetContainerName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@variables('srcfilecontainer')",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@concat(variables('srcfilename'),'.csv')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"type": "String",
									"ordinal": 1
								},
								"sink": {
									"path": "$['id']"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 2
								},
								"sink": {
									"path": "$['pickup_hour']"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 3
								},
								"sink": {
									"path": "$['pickupdate']"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 4
								},
								"sink": {
									"path": "$['dropoffdate']"
								}
							},
							{
								"source": {
									"type": "String",
									"ordinal": 5
								},
								"sink": {
									"path": "$['dropoff_hour']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "blobnyccsvdata",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "blobjsondataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"srcfilecontainer": {
				"type": "String"
			},
			"srcfilename": {
				"type": "String"
			},
			"srcoutput": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-02-21T09:55:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}