devopsdatafactrylrndev/PartialArmTemplates/ArmTemplate_2_21_2021_18_38_59.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "devopsdatafactrylrndev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MoveFilesBetweenBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetFilename",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "srcfilename",
							"value": "nyc_data"
						}
					},
					{
						"name": "SetContainerName",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "srcfilecontainer",
							"value": "nycip"
						}
					},
					{
						"name": "NycDataCopy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetFilename",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "SetContainerName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@variables('srcfilecontainer')",
										"type": "Expression"
									},
									"wildcardFileName": {
										"value": "@concat(variables('srcfilename'),'.csv')",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"path": "$['id']"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"path": "$['pickup_hour']"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"path": "$['pickupdate']"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"path": "$['dropoffdate']"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"path": "$['dropoff_hour']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "blobnyccsvdata",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "blobjsondataset",
								"type": "DatasetReference"
							}
						]
					}
				],
				"variables": {
					"srcfilecontainer": {
						"type": "String"
					},
					"srcfilename": {
						"type": "String"
					},
					"srcoutput": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-02-21T09:55:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/blobnyccsvdata')]",
				"[concat(variables('factoryId'), '/datasets/blobjsondataset')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobnyccsvdata')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "nycip"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobjsondataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorageLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "nyc_op.json",
						"container": "nycop"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		}
	]
}